body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.containerSuperior {
  width: 100%;
  margin: auto;
  background-color: rgb(114, 60, 16);
  display: flex;
  justify-content: end;
  align-items: center;
}

.indices {
  list-style: none; 
  display: flex;
  margin: 20px;
  align-items: center;
}

.indices a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin-left: 20px;
}

.indices .agora a {
  color: rgb(197, 112, 63); 
  font-weight: bold;
}

.botao {
  display: block;
  padding: 13px 25px;
  background-color:rgb(197, 112, 63);
  border-radius: 8px;
  font-weight: bold;
}

.banner {
  height: 460px;
  background: linear-gradient(rgba(150, 79, 31, 0.82), rgba(121, 59, 18, 0.85)),
              url('violinoBanner.png');
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
  text-align: center;
}

.banner .container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo img{
  height: 300px;
  margin-top: -50px;
  margin-left: 70px;
  color: white;
}

.banner h1 {
  margin: auto;
  font-size: 50px;
}

.banner h3 {
  font-size: 25px;
  margin-left: 30px;
}


.meio{
  background: linear-gradient(rgb(241, 237, 233, 0.92), rgb(241, 237, 233, 0.92));
  margin: auto;
  padding: 60px 20px;
}

.divisao{
  background: linear-gradient(rgba(243, 240, 238, 0.92), rgba(243, 240, 237, 0.92));
  margin-bottom:100px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.container3 {
  margin-left: 150px;
  margin-right: 150px;
}


.container3 h4 {
  font-size: 42px;
  margin-bottom: 10px;
  margin-top: 50px;
  color: #5a3e2b;
  text-align: center;
}

.container3 p {
  font-size: 22px;
  color: #666;
  line-height: 1.5;
  text-align: center;
}


.container-caracteristicas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.container-propriedades {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.container-pauta {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.container-claves {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}

.container-claves2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 25px;
  max-width: 1100px;
  margin: 0 auto;
}


.box {
  background: #ffffff;
  border: solid rgb(114, 60, 16) 2px;
  padding: 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.box img{
  width: 1000px;
  margin: auto;
}

.box:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0,0,0,0.2);
}

.box h4 {
  font-size: 25px;
  margin-bottom: 25px;
  color: #5a3e2b;
}

.box p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}


.final {
  background-color: #6b3f1d;
  margin-top: -60px; 
  color: white;
  padding: 23px 0;
}

.final .container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.final h3 {
  font-size: 16px;
  margin: 0;
}

.final h4 {
  font-size: 14px;
  margin: 0;
  font-weight: normal;
}

.versao {
  font-size: 12px;
  opacity: 0.7;
}